.userWrapper {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow: scroll;
}
.userWrapper div {
  padding: 10px;
  border-bottom: 1px solid #edebeb;
  cursor: pointer;
}
.userWrapper div.active {
  background: #8ce09957;
}
.userWrapper div p {
  margin: 0;
}
.userWrapper div span {
  color: #908c8c;
  font-size: 12px;
}
