.chatWrapper {
  background: #e4e0e0a6;
  position: relative;
  height: -webkit-fill-available;
}
.chatWrapper p {
  border: 1px solid #ccc;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background: #8ce099;
  color: #383636;
  word-break: break-all;
}
.inputWrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}
.inputWrapper input {
  width: 85%;
  font-size: 24px;
  font-weight: 100;
  color: #676464;
}

.inputWrapper button {
  width: 15%;
  font-weight: 700;
  background: #8ce099;
  border: 1px solid #48524a;
  color: #48504b;
  text-transform: uppercase;
  cursor: pointer;
}
.chats {
  display: flex;
  flex-direction: column;
  height: 93%;
  overflow: scroll;
}
.chats .my-message p {
  float: right;
  margin-right: 10px;
}
.chats .other-message p {
  float: left;
  margin-left: 10px;
}
.chats div:last-child {
  position: relative;
  bottom: 0;
}
