.loadingContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9e989840;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
}
