.container {
  height: 70vh;
  width: 70%;
  margin: 90px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
}
header {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  color: #757474;
  font-size: 20px;
  background: #2bcc559e;
  font-weight: 800;
  text-transform: uppercase;
}
.row {
  width: 100%;
  display: flex;
  height: 92%;
}
.col-3 {
  width: 30%;
}
.col-7 {
  width: 70%;
}
.full-height {
  height: -webkit-fill-available;
}

.border-right {
  border-right: 2px solid #8ce099;
}
